.shop-container{
       display: grid;
       grid-template-columns: 4fr 1fr;
       padding: 10px;
}

.search-input{
       background-color: lightgray;
       text-align: center;
       line-height: 40px;
}

.search-input input{
       width: 60%;
       height: 20px;
       border: none;
}

      
